.nf__component{
	min-height: 500px;
	h1{
		font-size: 50px;
		margin-top: 100px;
	}
	h2{
		font-size: 150px;
	}
	h3{
		font-size: 40px;
		padding-top: 20px;
	}
	p{
		font-size: 30px;
		border-bottom: 1px solid #8e8e8e;
		padding-bottom: 20px;
	}
}
